<div class="list-item">
  <div class="list-item-container">
    <p class="list-item-container__data">Nom : {{ city?.name }}</p>
    <p class="list-item-container__data">Pays : {{ city?.country }}</p>
    <p class="list-item-container__data">Population : {{ city?.population }}</p>
    <p class="list-item-container__data">Latitude : {{ city?.lat }}</p>
    <p class="list-item-container__data">Longitude : {{ city?.lng }}</p>
  </div>
  <div class="list-item-buttons">
    <button class="list-item__update-button" (click)="toggleEdit()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#28d52d"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil">
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
        <path d="m15 5 4 4" />
      </svg>
    </button>
    <button class="list-item__delete-button" (click)="deleteCity()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f90000"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2">
        <path d="M3 6h18" />
        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
        <line x1="10" x2="10" y1="11" y2="17" />
        <line x1="14" x2="14" y1="11" y2="17" />
      </svg>
    </button>
  </div>
</div>

<div class="modal" *ngIf="isEdit">
  <div class="modal-content">
    <div class="modal-content__header">
      <h2>Modifier une ville</h2>
      <button (click)="toggleEdit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-circle">
          <circle cx="12" cy="12" r="10" />
          <line x1="15" y1="9" x2="9" y2="15" />
          <line x1="9" y1="9" x2="15" y2="15" />
        </svg>
      </button>
    </div>
    <div class="modal-content__body">
      <form (submit)="updateCity()">
        <label for="name">Nom</label>
        <input type="text" id="name" [(ngModel)]="city!.name" name="name" required>
        <label for="country">Pays</label>
        <input type="text" id="country" [(ngModel)]="city!.country" name="country" required>
        <label for="population">Population</label>
        <input type="number" id="population" [(ngModel)]="city!.population" name="population" required>
        <label for="lat">Latitude</label>
        <input type="number" id="lat" [(ngModel)]="city!.lat" name="lat" required>
        <label for="lng">Longitude</label>
        <input type="number" id="lng" [(ngModel)]="city!.lng" name="lng" required>
        <button type="submit">Modifier</button>
      </form>
    </div>
  </div>
</div>